@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@100;300;500;700&family=Sofia&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia', cursive;
}

:root{
    // Colors
    --body-color: #;
    --sidebar-color: #;
    --primary-color: #;
    --primary-color-light: #;
    --toggle-color: #;
    --text-color: #;

    // Transition
    --tran-03: #;
    --tran-04: #;
    --tran-05: #;
}